algo: ppo_cnn
env_id: CarRacing-v3
use_cnn: true
feature_dim: 512
seed: 42
device: cuda
total_steps: 2000000
learning_starts: 0
rollout_length: 2048
train_freq: 2048
gradient_steps: 1
max_ep_len: 1000
eval_interval: 50000
eval_episodes: 3
publish_to_hub: true
hf_repo_id: "ZiadHF/ppo-carracing-cnn"

agent_params:
  lr: 0.00025
  gamma: 0.99
  clip_ratio: 0.2
  lam: 0.95
  train_pi_iters: 10
  train_v_iters: 10
  target_kl: 0.02
  hidden_dims: [256, 256]
  max_ep_len: 1000
